P{
    color: red;
    background-color: grey;
}

#pblue{
    color: blue;
}
 #simpleclass{
    color: blue;
   background-color: brown;
 }



table,td,td,th{

    border: 1px solid black;
    border-collapse: collapse;
    padding: 15;

}